
@import 'variables';

.workshop-header{
	position: relative;
	background-color: $grey-bg;
	border: 3px solid $grey-border;
	padding: 1rem;
	display: flex;
	justify-content: start;

	.img-container{
		width: 100px;
		height: 100px;
		
		margin-right: 1rem;

		-webkit-background-size: cover !important;
		-moz-background-size: cover !important;
		-o-background-size: cover !important;
		background-size: cover !important;

		border-radius: 100%;
		border: solid white 5px; 
	}

	.data{
		>*:first-child{
			margin-top: 0;
		}
	}

	.setting-page{
		position: absolute;
		right: 10px;
		top: 10px;

		width: 35px;

		img{
			width: 100%;
		}
	}
}


    
.workshop-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;

    .teams-container{
        width: 30%;
        border: dotted 5px $grey-border;
        padding: 1rem;
        min-height: 300px;
    }
    .playing-table{
        width: 70%;
        background-color: $grey-bg;
        padding: 1rem;
        min-height: 300px;
        border: rgba(0,0,0,0) solid 5px;
    }
}

.settings-container{
    .settings-column {
		padding: 1rem;
        border: solid 5px grey;
        width: 33%;
        min-height: 300px;
    }
}


//   ______
//  /_  __/__  ____ _____ ___  _____
//   / / / _ \/ __ `/ __ `__ \/ ___/
//  / / /  __/ /_/ / / / / / (__  )
// /_/  \___/\__,_/_/ /_/ /_/____/


.teams-container{

    .team{
    	margin-top: 1rem;
    	margin-bottom: 1rem;
    	display: flex;
    	justify-content: center;
    	align-items: center;
        background-color: $grey-bg;
        color: $grey-border;
        width: 100%;
        border: solid 5px white;
    }
    .adding-team{
    	display: flex;
    	justify-content: center;
    	align-items: center;
        border: dotted 5px $grey-border;
        color: $grey-border;
        background-color: unset;	
        img{
        	opacity: 0.5;
        }
    }
    .selected{
        border: solid 5px $grey-border;
    }
}

//   ______      __    __
//  /_  __/___ _/ /_  / /__
//   / / / __ `/ __ \/ / _ \
//  / / / /_/ / /_/ / /  __/
// /_/  \__,_/_.___/_/\___/

.table-header{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
    align-items: stretch;

    .team-header{

        display: flex;
        justify-content: space-between;
        flex-direction: row;

    }
}
